<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzhu.dic_platform.mapper.CameraImageMapper">

    <resultMap id="BaseResultMap" type="com.gzhu.dic_platform.domain.CameraImage">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="camera" column="camera" jdbcType="VARCHAR"/>
            <result property="project" column="project" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,image,camera,
        project,create_time,is_deleted
    </sql>
</mapper>
