<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzhu.dic_platform.mapper.CameraSettingMapper">

    <resultMap id="BaseResultMap" type="com.gzhu.dic_platform.domain.CameraSetting">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="focalLength" column="focal_length" jdbcType="INTEGER"/>
            <result property="rollAngle" column="roll_angle" jdbcType="INTEGER"/>
            <result property="horizontalAngle" column="horizontal_angle" jdbcType="INTEGER"/>
            <result property="pitchAngle" column="pitch_angle" jdbcType="INTEGER"/>
            <result property="temperature" column="temperature" jdbcType="INTEGER"/>
            <result property="exposureTime" column="exposure_time" jdbcType="INTEGER"/>
            <result property="frameRate" column="frame_rate" jdbcType="INTEGER"/>
            <result property="upperLimit" column="upper_limit" jdbcType="INTEGER"/>
            <result property="lowerLimit" column="lower_limit" jdbcType="INTEGER"/>
            <result property="uploadInterval" column="upload_interval" jdbcType="INTEGER"/>
            <result property="signalStrength" column="signal_strength" jdbcType="INTEGER"/>
            <result property="signalRatio" column="signal_ratio" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,focal_length,roll_angle,
        horizontal_angle,pitch_angle,temperature,
        exposure_time,frame_rate,upper_limit,
        lower_limit,upload_interval,signal_strength,
        signal_ratio,create_time,update_time
    </sql>
</mapper>
