<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzhu.dic_platform.mapper.TargetSpotMapper">

    <resultMap id="BaseResultMap" type="com.gzhu.dic_platform.domain.TargetSpot">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="spotNumber" column="spot_number" jdbcType="INTEGER"/>
            <result property="spotName" column="spot_name" jdbcType="VARCHAR"/>
            <result property="xCoordinate" column="x_coordinate" jdbcType="INTEGER"/>
            <result property="yCoordinate" column="y_coordinate" jdbcType="INTEGER"/>
            <result property="distance" column="distance" jdbcType="DOUBLE"/>
            <result property="width" column="width" jdbcType="INTEGER"/>
            <result property="height" column="height" jdbcType="INTEGER"/>
            <result property="isBasepoint" column="is_basepoint" jdbcType="BOOLEAN"/>
            <result property="camera" column="camera" jdbcType="VARCHAR"/>
            <result property="project" column="project" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spot_number,spot_name,
        x_coordinate,y_coordinate,distance,
        width,height,is_basepoint,
        camera,project,create_time,
        update_time,is_deleted
    </sql>
    <select id="getAllByCamera" resultType="com.gzhu.dic_platform.vo.TargetSpotVO">
        select id,
               spot_number as spotNumber,
               spot_name as spotName,
               x_coordinate as xCoordinate,
               y_coordinate as yCoordinate,
               distance,
               width,height,is_basepoint
        from target_spot
        where camera = #{deviceNumber} and is_deleted = 0
    </select>
    <select id="getTargetSpotsList" resultType="com.gzhu.dic_platform.domain.TargetSpot">
        select ts.id,ts.spot_name,ts.x_coordinate,ts.y_coordinate,ts.distance,ts.width,ts.height,ts.is_basepoint
        from target_spot as ts
        join camera_info as ci
        on ts.camera = ci.device_number
        where ts.is_deleted=0 and ci.is_deleted=0
        <if test="online != null">
            and ci.online = #{online}
        </if>
    </select>
</mapper>
